<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html'); -%>
</head>

<body>

<%- include ('partials/navigation.html'); -%>

<div class="container">
    <header class="row">
        <div class="col-lg-12 text-center">
            <img src="/img/portada_2.png" class="animate__animated animate__flip" alt="Don Cosmic!">
        </div>
    </header>
</div>

<!-- SECTION ONE-->
<div class="container-fluid" id="seccioYoutube">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>Escolta'ns a Youtube! Ska i Reagge còsmic!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis praesentium ipsum quo autem 
                voluptatibus nam perspiciatis asperiores voluptas? Doloribus atque porro cupiditate quam nostrum 
                a ratione natus consequatur praesentium!
            </p>
        </div>
    </div>
</div>

<%- include ('partials/footer.html'); -%>

</body>

</html>