<!-- Seleccionem tot el text, després fem Tecla Ctrl+k y Ctrl+F i ens ho posa més ordenat. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">Don*Cosmic!</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
                </li>          
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-drum"></i> Concerts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-record-vinyl"></i> Discografia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-gift"></i> Botiga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#seccioYoutube"><i class="fas fa-headphones-alt"></i> Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> Contacte</a>
                </li>

            </ul>

        </div>
    </div>
</nav>